@using System.Security.Policy
@using System.Web.Optimization
@using WebAuthForm.Controllers
@using WebAuthForm.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мое приложение</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top offer-nav">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">Offers App</span>
                @Html.ActionLink("Offers list", "Offers", "Offers", new { area = "" }, new { @class = "navbar-brand offer-nav-item" })
                <a class="navbar-brand offer-nav-item  offer-nav-last-item">Report</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                @Html.ActionLink("Log-out", "Logoff", "Account", new { area = "" }, new { @class = "navbar-brand" })
            </ul>
        </div>
    </div>
    <div id="main-container" class="container body-content">
        <section id="login">
            <!-- Render the Partial View -->
            @Html.Partial("Partial/_LoginPartial")
        </section>
        @RenderBody()
    </div>
    <footer id="footer">
        <hr />
        <div class="container">
            <p class="text-muted">&copy; @DateTime.Now.Year - Offers</p>
        </div>
    </footer>
</body>
@Scripts.Render("~/bundles/libs")
@Scripts.Render("~/bundles/app")
@RenderSection("scripts", false)
</html>
